<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jokify</title>
    @RenderSection("styles", false)
    @RenderSection("Scripts", required: false)

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <header>
        <a href="#" class="logo"><i class='bx bx-stopwatch'></i>Honor</a>
        <ul class="navlist">
            <li><a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">TBD</a></li>
            <li><a href="#">TBD</a></li>
            <li><a href="#">TBD</a></li>
        </ul>
            <partial name="_LoginPartial" />
        <div class="h-main">
            <a href="#" class="h-btn">Joke Now</a>
            <div class="bx bx-menu" id="menu-icon"></div>
            <div class="bx bx-moon" id="darkmode"></div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Jokify
        </div>
    </footer>*@
    <!--scripts-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/script.js"></script>
   @* @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
