@model JokeDetailsViewModel

@{
    ViewBag.Title = "Joke Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<div class="joke-container" data-id="@Model.Id">

    <h2>@Model.Title</h2>
    @if (@Model.IsEdited)
    {
        <span class="edited-joke-label">(edited)</span>
    }
    <p class="setup">@Model.Setup</p>
    <p class="punchline">@Model.Punchline</p>
    <div id="likes" class="likes">
        <div class="fixed-elements">
            <i class="fas fa-heart"></i>
            <span class="likes-count">@Model.LikesCount</span>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.OwnerName)
    {
        <form method="get">

            <button class="edit-button" asp-controller="Joke" asp-action="Edit"
                asp-route-id="@Model.Id"
                asp-route-title="@Model.Title"
                asp-route-page="@Model.CurrentPage">
                Edit
            </button>
        </form>

        <form method="post" asp-controller="Joke"
          asp-action="Delete"
          asp-route-id="@Model.Id"
          asp-route-title="@Model.Title"
          asp-route-page="@Model.CurrentPage">
          <div>

            <button type="submit" onclick="jokeConfirm(event)" class="delete-joke-button">Delete</button>
          </div>
        </form>
    }
    else
    {
        if (Model.HasLiked)
        {
            <form method="post" asp-controller="Joke"
          asp-action="Dislike"
          asp-route-id="@Model.Id"
          asp-route-title="@Model.Title"
          asp-route-page="@Model.CurrentPage">

                <button type="submit" class="dislike-button">Just Kidding</button>
            </form>
        }
        else
        {
            <form id="delete-form" method="post" asp-controller="Joke"
          asp-action="Like"
          asp-route-id="@Model.Id"
          asp-route-title="@Model.Title"
          asp-route-page="@Model.CurrentPage">

                <button type="submit" class="like-button">Like</button>
            </form>

        }
    }
</div>
<div class="comment-section">
    <h2>Comments</h2>


    @if (Model.Comments.Count == 0)
    {
        <p>No comments yet.</p>
    }
    else
    {
        foreach (var comment in Model.Comments)
        {
            {
                var stringDate = comment.CreatedOn;
                var date = DateTime.Parse(stringDate).Hour;
                var now = DateTime.Now.Hour;


                <div class="comment">
                    @if (comment.IsEdited)
                    {
                        <span class="edited-label">(edited)</span>
                    }
                    <p class="text">@comment.Content</p>
                    <span class="comment-author">Posted by @comment.User</span>
                    @if (User.Identity.IsAuthenticated && comment.UserId == Model.CurrUser)
                    {
                        <form class="edit-form" data-comment-id="@comment.Id" style="display:none;">
                            <textarea class="comment-content" asp-for="@Model.CommentContent" rows="3"></textarea>
                            <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
                            <button type="button" class="cancel-button">Cancel</button>
                            <button type="button" class="save-button">Save</button>
                        </form>
                        <a class="edit-button" data-comment-id="@comment.Id">Edit</a>
                        <form id="delete-comment-form" method="post" asp-controller="Comment"
                              asp-action="Delete"
                              asp-route-id="@comment.Id" ,
                              asp-route-jokeId="@Model.Id"
                              asp-route-title="@Model.Title"
                              asp-route-page="@Model.CurrentPage">
                            <div>
                                <button type="submit" onclick="commentConfirm(event)" class="delete-comment-button">Delete</button>
                            </div>
                        </form>
                    }
                </div>
            }
        }
    }

    @if (!Model.HasUserCommented)
    {
        <form method="post" asp-controller="Comment"
          asp-action="AddComment"
          asp-route-id="@Model.Id"
          asp-route-title="@Model.Title"
          asp-route-page="@Model.CurrentPage">

            <h3>Add a Comment</h3>
            <textarea class="form-control" asp-for="@Model.CommentContent" rows="3"></textarea>
            <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
            <button type="submit" class="comment-button">Post Comment</button>
        </form>
    }
    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalComments /
        Model.PageSize);
    }

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Comments.Any();
    }

    <div class="left">
        <a class="arrow-box@(Model.CurrentPage == 1 ? "-disabled" : string.Empty)"
           asp-controller="Joke"
           asp-action="Details"
           asp-route-page="@previousPage">
            <span class="arrow button-left">
                &larr;
            </span>
        </a>
    </div>


    <div class="right">
        <a class="arrow-box@(shouldButtonBeDisabled ? "-disabled" : string.Empty)"
           asp-controller="Joke"
           asp-action="Details"
           asp-route-page="@(Model.CurrentPage + 1)">
            <span class="arrow button-right">
                &rarr;
            </span>
        </a>
    </div>
</div>
<div>
</div>

    <partial name="_ValidationScriptsPartial" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/details.js"></script>
    <script>
    function jokeConfirm(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'The joke has been deleted.',
                        'success'
                    ).then((resultDeleted) => {
                        e.target.parentElement.parentElement.submit();
                    })
                }
            })
        }

    function commentConfirm(e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancel',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'The comment has been deleted.',
                    'success'
                ).then((resultDeleted) => {
                    e.target.parentElement.parentElement.submit();
                })
            }
        })
    }
    </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="~/css/details.css" rel="stylesheet" />    
<script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
<script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
<script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
<script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
<script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
<link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
<link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />